@use "styles/utilities.scss";
@use "styles/fonts.scss";

:root {
	--pure-white: #ffffff;
	--primary-color: hsla(291, 70%, 8%, 1);
	--accent-color-a: hsla(291, 89%, 53%, 1);
	--accent-color-b: hsla(176, 92%, 60%, 1);
	--accent-gradient-linear: linear-gradient(135deg, var(--accent-color-a), var(--accent-color-b));
	--border-gradient-linear: linear-gradient(135deg, var(--accent-color-a), var(--primary-color), var(--accent-color-b));
	--heading-size: ;
	--text-size: ;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	color: var(--pure-white);
}

body {
	background-color: var(--primary-color);
	width: 100vw;
	height: 100vh;
}